@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    padding: 0%;
    margin: 0%;
    border: 0ch;
  }
  
  *, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'PT Sans', sans-serif;
  }
  
  input, button, textarea {
    font-family: inherit;
  }

/**/
.btn_addcats {
  display: inline-block;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.caption {
  font-size: 25px;
  font-weight: 700;
  padding: 25px 15px 10px 15px;
  text-align: center;
}

.wraper {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 15px;
  margin: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid darkslategrey;
  border-radius: 10px;
  padding: 15px;
  justify-content: space-between;
  background-color: #fff;
}

.card__avatar {
  border: 1px solid darkslategrey;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.card__info{
  padding: 10px;
}

.card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.form {
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgba(45, 45, 45, 0.806);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  backdrop-filter: blur(2px);
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #0a1012;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 350px;
  border-radius: 10px;
}

.form__container p {
  font-size: 30px;
  font-weight: 500;
}
.form__cats input {
  background-color: #eeeeee;
  border: 1px solid rgba(47, 79, 79, 0.5);
}
form p {
  opacity: 0.65;
  padding: 15px 10px;
  color: rgb(31, 33, 37);
}

.form__cats {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 14px;
  font-weight: 500;
  margin: 15px 5px 5px 5px;
  color: darkslategrey;
  text-shadow: 1px 5px 6px rgba(47, 79, 79, 0.3);
}

form input {
  font-size: 12px;
  font-weight: 500;
  color: rgb(31, 33, 37);
  height: 30px;
  padding: 0px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.form__cats-rate {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.form__cats-rate label {
  margin-bottom: 10px;
}

.form__cats-rate span {
  margin: 15px 5px 5px 5px;
  color: darkslategray;
}

.slider-rating {
  cursor: pointer;
  padding: 0;
}

.form__cats-checkbox {
  display: flex;
}

.checkbox_favorite {
  align-self: self-end;
  margin: 5px;
  height: 100%;
}
.form__buttons {
  margin-top: 20px;
}

button {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background-color: #5196ab;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(43, 81, 93, 0.3);
  padding: 10px 20px;
  margin: 10px;
}
button:hover {
  background-color: #55caee;
  transition: 0.2s linear;
  box-shadow: 0 1px 5px rgba(65, 204, 246, 0.689);
}
.red {
  background-color: rgb(168, 15, 46);
}
.red:hover {
  background-color: crimson;
  box-shadow: 0 1px 5px rgba(220, 20, 60, 0.689);
}

.detailed-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;justify-content: center;
  background-color: rgba(55, 55, 55, 0.603);
  backdrop-filter: blur(2px);
}
